<div class="header">
    <div class="header__left">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Facebook_Logo_%282019%29.png">
        <div class="header__input">
            <mat-icon  >search</mat-icon>
            <input type="text" placeholder="Search Facebook" />
        </div>
        
    </div>


    <div class="header__middle">
        <div class="header__option header__option--active">
            <mat-icon class="search__inputIcon"  >home</mat-icon>
        </div>
        <div class="header__option">
            <mat-icon class="search__inputIcon"  >flag</mat-icon>
        </div>
        <div class="header__option">
            <mat-icon class="search__inputIcon"  >subscriptions</mat-icon>
        </div>
        <div class="header__option">
            <mat-icon class="search__inputIcon"  >storefront</mat-icon>
        </div>
        <div class="header__option">
            <mat-icon class="search__inputIcon"  >supervised_user_circle</mat-icon>
        </div>
    </div>


    <div class="header__right">
        <div class="header__info">
            <mat-icon  >account_circle</mat-icon>
            <h4>Med Amrani</h4>
        </div>

        <button mat-icon-button>
            <mat-icon  >add</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon  >forum</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon  >notifications</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon  >expand_more
            </mat-icon>
        </button>

    </div>

</div>