<div class="feed">
    <app-story-reel class="story__reel" [title]="'Cris Ronaldo'" [profile]="'https://upload.wikimedia.org/wikipedia/commons/8/8c/Cristiano_Ronaldo_2018.jpg'" 
                    [background] ="'https://raw.githubusercontent.com/shernille37/Facebook_Clone/master/src/assets/images/Carriza.jpg'"></app-story-reel>
    <app-story-reel class="story__reel" [title]="'Cris Ronaldo'" [profile]="'https://upload.wikimedia.org/wikipedia/commons/8/8c/Cristiano_Ronaldo_2018.jpg'" 
                    [background] ="'https://raw.githubusercontent.com/shernille37/Facebook_Clone/master/src/assets/images/Carriza.jpg'"></app-story-reel>
</div>