<div class="feed">

    <app-story-reel-global></app-story-reel-global>
    
    <app-message-sender></app-message-sender>

    <app-post 
            [profile]="'https://upload.wikimedia.org/wikipedia/commons/8/8c/Cristiano_Ronaldo_2018.jpg'" 
            [username] ="'Med Amrani'"
            [message]="'Hi this a new post'"
            [image]="'https://t.resfu.com/media/img_news/agencia-efe_multimedia_4109068.multimedia.photos.15961837.file.jpg?size=776x&q=60'"
            
            
            ></app-post>
    <app-post 
            [profile]="'https://upload.wikimedia.org/wikipedia/commons/8/8c/Cristiano_Ronaldo_2018.jpg'" 
            [username] ="'Med Amrani'"
            [message]="'Hi this a new post'"
            [image]="'https://t.resfu.com/media/img_news/agencia-efe_multimedia_4109068.multimedia.photos.15961837.file.jpg?size=776x&q=60'"
            
            
            ></app-post>
    <app-post 
            [profile]="'https://upload.wikimedia.org/wikipedia/commons/8/8c/Cristiano_Ronaldo_2018.jpg'" 
            [username] ="'Med Amrani'"
            [message]="'Hi this a new post'"
            [image]="'https://t.resfu.com/media/img_news/agencia-efe_multimedia_4109068.multimedia.photos.15961837.file.jpg?size=776x&q=60'"
            
            
            ></app-post>
            <app-post 
            [profile]="'https://upload.wikimedia.org/wikipedia/commons/8/8c/Cristiano_Ronaldo_2018.jpg'" 
            [username] ="'Med Amrani'"
            [message]="'Hi this a new post'"
            [image]="'https://t.resfu.com/media/img_news/agencia-efe_multimedia_4109068.multimedia.photos.15961837.file.jpg?size=776x&q=60'"
            
            
            ></app-post>
    <!-- <app-post></app-post>
    <app-post></app-post> -->

    
</div>