<div class="sidebar">
    <app-sidebar-row [title]="'Med Amrani'" [src]="'https://scontent.frba2-2.fna.fbcdn.net/v/t31.0-8/30171512_1720270614724214_3521517202655423886_o.jpg?_nc_cat=109&_nc_sid=09cbfe&_nc_eui2=AeGb68Ud8CNMbOc0ArmH35AclNaIZTRFMNmU1ohlNEUw2QWUK_XeQ8U_j0jIZJl6IgouKN0ZfICGS5iO2Pz_oGAv&_nc_ohc=vHG_Y-3YeNQAX_jkQMZ&_nc_ht=scontent.frba2-2.fna&oh=acee9d8e4700009aa405a96c2f138217&oe=5F95FF28'    "></app-sidebar-row>
    <app-sidebar-row [title]="'Pages'" [icon]="'flag'"></app-sidebar-row>
    <app-sidebar-row [title]="'Friends'" [icon]="'people'"></app-sidebar-row>
    <app-sidebar-row [title]="'Messenger'" [icon]="'chat'"></app-sidebar-row>
    <app-sidebar-row [title]="'Marketplace'" [icon]="'storefront'"></app-sidebar-row>
    <app-sidebar-row [title]="'Videos'" [icon]="'video_library'"></app-sidebar-row>
    <app-sidebar-row [title]="'See More'" [icon]="'expand_more'"></app-sidebar-row>

    

</div>