<div class="post">
    <div class="post__top">
        <img  src="{{profile}}" class="post__avatar" />
        <div class="post__topInfo">
            <h3>{{username}}</h3>
            <p>timestamp...</p>
        </div>
  

    </div>

    <div class="post__bottom">
        <p>{{message}}</p>
    </div>
    <div class="post__image">
        <img src="{{image}}" alt=""/>
    </div>

    <div class='post__options'>
        <div class='post__option'>
          <mat-icon>thumb_up_alt</mat-icon>
          <p>Like</p>
        </div>
        <div class='post__option'>
          <mat-icon>comment</mat-icon>
          <p>Comment</p>
        </div>
        <div class='post__option'>
          <mat-icon >reply</mat-icon>
          <p>Share</p>
        </div>
      </div>
</div>